/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    width: 50%;
    border: 3px solid #555555;
    padding: 10px;
  }
  
  .example-container > * {
    width: 100%;
  }

  .exampler-container * {
    width: 100%;
  }

  .wide {
    width: 100%;
  }