<h2>Przepisy</h2>

<form>

  <mat-toolbar class="pad">

    <i class="material-icons">search</i>
    <input [(ngModel)]="searchText" type="text" class="search-form" placeholder="Wyszukaj..." name="search">

    
    <span class="example-fill-remaining-space"></span>
    <!-- dzięki powyższej linijce kolejne przyciski będą po prawej stronie -->

    <button *ngIf="loggedIn" mat-button routerLink="../recipe/new">Dodaj przepis</button>
    <button mat-button [matMenuTriggerFor]="menu">Sortuj</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="ascendingClik()">Alfabetycznie rosnąco</button>
        <button mat-menu-item (click)="descendingClik()">Alfabetycznie malejąco</button>
      </mat-menu>
    
    <!-- miejsce na guzik filtrujący-->

  </mat-toolbar>


  <div *ngFor="let recipe of recipe_list | filterTitle: searchText| sort: order: ascending">
    <mat-card class="pad">
      <mat-card-title>{{recipe.title}}</mat-card-title>
      <mat-card-subtitle><span class="category">Kategoria: </span>{{recipe.category}}</mat-card-subtitle>

      <!--mały obrazek-->

      <mat-card-content>
        <p>
          {{recipe.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button routerLink="/recipes/{{recipe.id}}">Zobacz przepis</a>
      </mat-card-actions>
    </mat-card>
  </div>

</form>