<h2>My Recipes</h2>

<!--<ul>
  <li *ngFor="let recipe of recipe_list">
    <a routerLink="/recipes/{{recipe.id}}"><span>{{recipe.title}}</span> {{recipe.description}}</a>
  </li>
</ul> -->

<div *ngFor="let recipe of recipe_list">
  <mat-card>
      <mat-card-title>{{recipe.title}}</mat-card-title>
      <mat-card-subtitle>Kategoria: {{recipe.category}}</mat-card-subtitle>

    <!--mały obrazek-->

    <mat-card-content>
      <p>
        {{recipe.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button routerLink="/recipes/{{recipe.id}}">Zobacz przepis</a>
    </mat-card-actions>
  </mat-card>
</div>

<!--<div *ngIf="myRecipe">{{myRecipe.tittle}}</div>-->

<!-- <app-recipe [recipe]="selectedRecipe"></app-recipe> -->
