<h2>Przepisy dostępne w restauracji {{nameR}} w mieście {{cityR}}: [edycja]</h2>

<form [formGroup]="editRestaurantForm" style="margin-left: 15px;" autocomplete="off" novalidate (ngSubmit)="editRestaurant(editRestaurantForm.value)">
  <mat-card-content>
    <ng-container formArrayName="recipes">
      <div *ngFor="let recipe of newList; let i = index" class="pad">
        <mat-checkbox [formControlName]="i">
          {{recipe.title}}
        </mat-checkbox>
      </div>
    </ng-container>
  </mat-card-content>

  <mat-card-actions align="center">
    <button type = "submit" mat-raised-button color="primary" class="pad" [disabled]="!editRestaurantForm.valid" >Zatwierdź</button>
  </mat-card-actions>

</form>

<button mat-button (click)="goBack()" class="pad">Powrót</button>
