<div>
  <h1 mat-dialog-title>Dodaj {{data.typeName}}</h1>
  <form #addForm="ngForm">
    <mat-dialog-content>
      <mat-form-field>
        <input matInput type="text" placeholder="Nazwa" required [(ngModel)]="data.categoryOrCuisine" name="name">
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-button (click)="cancel()">Zamknij</button>
      <button mat-button [disabled]="addForm.form.invalid"
              [mat-dialog-close]="data.categoryOrCuisine" cdkFocusInitial color="primary">OK
      </button>
    </mat-dialog-actions>
  </form>
</div>

