<mat-toolbar>

  <span class="title">Cookbook</span>
  <span class="example-fill-remaining-space"></span>

  <button mat-button routerLink="recipes">Przepisy</button>
  <button mat-button routerLink="restaurants">Restauracje</button>

  <button mat-button [matMenuTriggerFor]="category">Kategorie</button>
  <mat-menu #category="matMenu">
    <a routerLink="/recipes/category/{{category}}" mat-menu-item *ngFor="let category of categories_taken">{{category}}</a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu">Typy kuchni</button>
  <mat-menu #menu="matMenu">
    <a routerLink="/recipes/cuisine/{{name}}" mat-menu-item *ngFor="let name of cuisine_taken">{{name}}</a>
  </mat-menu>

  <button mat-button routerLink="account/profile">Twój profil</button>

</mat-toolbar>
<br /><br />


