<div *ngIf="recipe">

  <mat-card>
    <mat-card-title>{{recipe.title}}</mat-card-title>

    <div class="pad">
      <button style="margin-right: 5px;" mat-raised-button (click)="goBack()">Wróć</button>
      <button *ngIf="checkIfYourComment(recipe.createdBy.username)"  style="margin-right: 5px;" mat-raised-button (click)="deleteRecipe()">Usuń</button>
      <!--<button mat-raised-button (click)="editRecipe()" routerLink="./edit">Edytuj</button>-->
    </div>

    <mat-card-content>

      <div>
        Stworzono przez: <a routerLink="/profiles/{{recipe.createdBy.username}}">{{recipe.createdBy.username}}</a>
      </div>
      <p>
        <span style="color: #888">Kategoria: </span>{{recipe.category}}<br/>
        <span style="color: #888">Typ kuchni: </span>{{recipe.cuisine}}
      </p>
      <p>
        {{recipe.description}}
      </p>
      <div>
        <mat-form-field>
          <mat-select placeholder="Liczba porcji: ">
            <mat-option (click)="portion(number)" *ngFor="let number of [1,2,3,4,5,6]" [value]="number">
              {{number}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div>
        Dania spróbujesz w restauracjach:
        <mat-list>
          <mat-list-item *ngFor="let restaurant of recipe.restaurants">
            <mat-icon matListIcon>star</mat-icon>
            <p>Restauracja: {{restaurant.name}} Adres: {{restaurant.address}}, {{restaurant.code}} {{restaurant.city}}</p>
          </mat-list-item>
        </mat-list>
      </div>

      <mat-accordion multi="true">

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>Składniki</mat-panel-title>
          </mat-expansion-panel-header>

          <!--<mat-list>-->
          <!--<mat-list-item *ngFor="let ingredient of recipe.ingredients">-->
          <!--<p>{{ingredient.name}}: {{ingredient.amount}} {{ingredient.unit}}</p>-->
          <!--</mat-list-item>-->
          <!--</mat-list>-->



          <table mat-table [dataSource]="recipe.ingredients" class="mat-elevation-z8 width60">

            <!-- Name Column -->
            <ng-container matColumnDef="nazwa">
              <th mat-header-cell *matHeaderCellDef> Nazwa składnika</th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="ilość">
              <th mat-header-cell *matHeaderCellDef> Ilość</th>
              <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
            </ng-container>

            <ng-container matColumnDef="jednostka">
              <th mat-header-cell *matHeaderCellDef> Jednostka</th>
              <td mat-cell *matCellDef="let element"> {{element.unit}}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


        </mat-expansion-panel>


        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>

            <mat-panel-title>
              Krok po kroku
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-list-item *ngFor="let step of recipe.steps">
            <h4 mat-line>Krok {{step.id}}</h4>
            <p mat-line> {{step.description}} </p>
          </mat-list-item>
        </mat-expansion-panel>
      </mat-accordion>


      <div>
        <form [formGroup]="createCommentForm" novalidate (ngSubmit)="addComments()">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Skomentuj" formControlName="commentInput">
          </mat-form-field>

          <mat-card-actions align="center">
            <button mat-raised-button color="primary" [disabled]="!createCommentForm.valid">Add</button>
          </mat-card-actions>
        </form>
      </div>

      <mat-list>
        <mat-list-item *ngFor="let comment of allComments">

          <p>{{comment.comment}}</p>
          <span style="color: #888; font-size: 11px; margin: 10px;">{{comment.users.username}}, {{comment.date}}</span>

          <span *ngIf="checkIfYourComment(comment.users.username)" (click)="deleteComment(comment)"><i
            class="material-icons">delete</i></span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

    </mat-card-content>

  </mat-card>

</div>

