<div *ngIf="recipe">

  <mat-card>
    <mat-card-title>{{recipe.title}}</mat-card-title>
    <mat-card-content>
      <div>
        Stworzono przez: <a routerLink="/profiles/{{recipe.createdBy.username}}" >{{recipe.createdBy.username}}</a>

      </div>
      <p>
        Kategoria: {{recipe.category}}
        Typ kuchni: {{recipe.cuisine}}
      </p>
      <p>
        {{recipe.description}}
      </p>

      <div>
        Przepis spróbujesz w restauracjach:
        <mat-list>
          <mat-list-item *ngFor="let restaurant of recipe.restaurants">
            <p>{{restaurant.name}}</p>
          </mat-list-item>
        </mat-list>
      </div>



      <mat-accordion multi="true">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>Składniki</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>

            <mat-list-item *ngFor="let ingredient of recipe.ingredients">
              <p>{{ingredient.name}} {{ingredient.amount}} {{ingredient.unit}}</p>
            </mat-list-item>

          </mat-list>
        </mat-expansion-panel>


        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title> Krok po kroku</mat-panel-title>

          </mat-expansion-panel-header>
          <mat-list-item *ngFor="let step of recipe.steps">
            <h4 mat-line>Krok {{step.id}}</h4>
            <p mat-line> {{step.description}} </p>
          </mat-list-item>
        </mat-expansion-panel>
      </mat-accordion>


      <div>
        <form [formGroup]="createCommentForm" novalidate (ngSubmit)="addComments()">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Komentarz" formControlName="commentInput">
          </mat-form-field>

          <mat-card-actions align="center">
            <button mat-raised-button color="primary" [disabled]="!createCommentForm.valid">Add</button>
          </mat-card-actions>
        </form>
      </div>

      <mat-list>
        <mat-list-item *ngFor="let comment of allComments">
          <p>{{comment.comment}}</p>
          <p>{{comment.date}}</p>
          <p>{{comment.users.username}}</p>
        </mat-list-item>

      </mat-list>


    </mat-card-content>

  </mat-card>



</div>

