<div *ngIf="loggedIn" class="example-container exampler-container">

  <h2>Utwórz restaurację</h2>

  <form [formGroup]="createRestaurantForm" autocomplete="off" novalidate (ngSubmit)="createRestaurant(createRestaurantForm.value)">

    <mat-card-content>

      <mat-form-field class="pad">
        <input matInput type="text" placeholder="Nazwa" formControlName="name" id="name">
        <mat-hint align="end">Maksymalnie 40 znaków</mat-hint>
        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
        <mat-error *ngIf="hasError('name', 'maxLength')">You have more than 60 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="pad">
        <input matInput type="text" placeholder="Adres" formControlName="address">
        <mat-hint align="end">Maksymalnie 40 znaków</mat-hint>
        <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
        <mat-error *ngIf="hasError('address', 'maxLength')">You have more than 40 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="pad">
        <input matInput type="text" placeholder="Kod pocztowy" formControlName="code">
        <mat-hint align="end">Format XX-XXX</mat-hint>
        <mat-error *ngIf="hasError('code', 'required')">Kod pocztowy jest wymagany</mat-error>
        <mat-error *ngIf="hasError('code', 'maxLength')">Masz więcej niż 6 znaków</mat-error>
        <mat-error *ngIf="hasError('code', 'pattern')">Zły format</mat-error>
      </mat-form-field>

      <mat-form-field class="pad">
        <input matInput type="text" placeholder="Miasto" formControlName="city">
        <mat-error *ngIf="hasError('city', 'required')">Miasto jest wymagane</mat-error>
        <mat-error *ngIf="hasError('city', 'maxLength')">Za długa nazwa</mat-error>
      </mat-form-field>


    </mat-card-content>

    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="!createRestaurantForm.valid" class="pad">Utwórz</button>
    </mat-card-actions>

  </form>

</div>

