<div *ngIf="loggedIn" class="example-container exampler-container">
  
  <h2>Utwórz przepis</h2>
  
  <form [formGroup]="createRecipeForm" autocomplete="off" novalidate (ngSubmit)="createAccount()">
      
    <mat-card-content>
       
      <!-- tytuł -->
      <mat-form-field class="pad">
        <input matInput type="text" placeholder="Tytuł" formControlName="title">
        <mat-hint align="end">Maksymalnie 50 znaków</mat-hint>
        <mat-error *ngIf="hasError('firstName', 'required')">Tytuł jest wymagany.</mat-error>
        <mat-error *ngIf="hasError('firstName', 'maxLength')">Tytuł przekroczył 50 znaków.</mat-error>
      </mat-form-field>
      
      <!-- opis -->
      <mat-form-field class="pad">
        <input matInput type="text" placeholder="Opis" formControlName="description">
        <mat-hint align="end">Maksymalnie 150 znaków</mat-hint>
        <mat-error *ngIf="hasError('secondName', 'required')">Opis jest wymagany.</mat-error>
        <mat-error *ngIf="hasError('secondName', 'maxLength')">Opis przekroczył 150 znaków.</mat-error>
      </mat-form-field>
      
      <!-- typ kuchni -->
      <mat-form-field class="Typ kuchni...">
        <mat-select placeholder="Select">
          <mat-option *ngFor="cuis of cuisine" value="cuis">{{cuis}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- kategoria -->
      <mat-form-field class="pad">
        <mat-select placeholder="Kategoria...">
          <mat-option *ngFor="category of categories" value="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- składniki -->
      <mat-form-field class="pad">
        // składniki
      </mat-form-field>

      <!-- zdjęcia tutaj -->
      <mat-form-field class="pad">
        <input matInput type="text" placeholder="Opis" formControlName="description">
      </mat-form-field>

      <!-- steps -->
  
    </mat-card-content>
  
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="!createAccountForm.valid" class="pad">Utwórz</button>
      <button mat-button (click)="goBack()">Powrót</button>
    </mat-card-actions>
    
  </form>
  
</div>
  
  
  <div *ngIf="loggedIn">
    <h2>Wyloguj się z konta aby móc utworzyć nowe</h2> 
    <button mat-button (click)="logOut()">Wyloguj</button>
  </div>
  